<!DOCTYPE html>
<html>

<!-- Head -->
<head>

<title>Random Error Page a Flat Responsive Widget Template :: W3layouts</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="Random Error Page Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<link rel="stylesheet" href="css/font-awesome.min.css" media="all" />

<!-- Style --> <link rel="stylesheet" href="css/errorStyle.css" type="text/css" media="all"/>

<!-- Fonts -->
<link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet"/>
<!-- //Fonts -->

</head>
<!-- //Head -->

<!-- Body -->
<body>

	<h1>Random <span>Error</span> Page</h1>
	<div class="w3layout-agileits">
	<h2>404 </h2>
	<h3>Oops! Page Not Found</h3>
	<p>Something went wrong</p>
	<p>Go back to your home page or you may also refresh the page</p>
	<!--<a href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Return Home</a>-->
	</div>

	<!--<div class="w3footeragile">-->
		<!--<p> &copy; 2017 Random Error Page . All Rights Reserved | Design by>OSS</p>-->
	<!--</div>-->

</body>
<!-- //Body -->

</html>
